{% extends 'flatpages/default.html' %}
{% block title %}
Coment
{% endblock title %}
{% block content %}
<h1>Все коментарии к вашим постам {{comit|length}}</h1>
<hr>
<h3>поиск коментариев</h3>
<form action="" method="get">
    {{ filterset.form.as_p }}
    <input type="submit" value="Найти"/>
</form>
{% if comit%}
<table>
    <tr>
        <td><strong>коментарий</strong></td>
        <td><strong>от кого</strong></td>
        <td><strong>к какому посту</strong></td>
        <td><strong>удалить</strong></td>
        <td><strong>принять</strong></td>

    </tr>
    {% for com in comit%}
    <tr>
        <td>{{ com.coment_text}}</td>
        <td>{{ com.user_coment}}</td>
        <td>
            <li><a href="http://127.0.0.1:8000/{{ com.post_coment.get_url }}">{{com.post_coment}}</a></li>
        </td>
        <td>
            <li><a href="http://127.0.0.1:8000/noticeboard/urcomit/{{ com.pk}}/del">удалить коментарий</a></li>

        </td>
        <td>{{com.prinit}}
            <button name="confirm" value="confirmed">принять</button></td>

    </tr>
    {% endfor %}

</table>
{% else %}
<h1>коментариев нет</h1>
{%endif%}
{% if page_obj.has_previous %}
<a href="?page=1">1</a>
{% if page_obj.previous_page_number != 1 %}
...
<a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
{% endif %}
{% endif %}

{# Информация о текущей странице #}
{{ page_obj.number }}

{# Информация о следующих страницах #}
{% if page_obj.has_next %}
<a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
{% if paginator.num_pages != page_obj.next_page_number %}
...
<a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
{% endif %}
{% endif %}
{% endblock content %}